<footer class="footer">
  <div class="container px-3">
    <a
      href="https://github.com/Jahongir780110"
      class="d-inline-block text-white"
    >
      <fa-icon [icon]="faGithub" class="github-logo"></fa-icon>
    </a>

    <span class="year-info"
      >Jakhongir Ismoilov <span class="highlighted">©2022</span></span
    >

    <a href="https://rs.school/angular/" class="d-inline-block">
      <img
        src="../../../assets/course-logo.png"
        alt="course logo"
        class="course-logo"
      />
    </a>
  </div>
</footer>
