<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">
    {{ isEditingTask ? ("editTask" | translate) : ("createTask" | translate) }}
  </h4>
</div>

<div class="modal-body">
  <form #taskForm="ngForm">
    <div>
      <label for="taskTitle" class="form-label"
        >{{ "taskTitle" | translate }}:</label
      >

      <input
        type="text"
        class="form-control"
        [ngClass]="title.invalid && title.dirty ? 'is-invalid' : ''"
        id="taskTitle"
        name="taskTitle"
        appTrim
        required
        minlength="1"
        [placeholder]="'enterTaskTitle' | translate"
        [(ngModel)]="taskTitle"
        #title="ngModel"
      />

      <div
        *ngIf="title.invalid && title.dirty ? 'is-invalid' : ''"
        class="text-danger input-error"
      >
        {{ "pleaseEnterValidTaskTitle" | translate }}
      </div>
    </div>

    <div class="mt-3">
      <label for="taskDescription" class="form-label"
        >{{ "taskDescription" | translate }}:</label
      >

      <input
        type="text"
        class="form-control"
        [ngClass]="desc.invalid && desc.dirty ? 'is-invalid' : ''"
        id="taskDescription"
        name="taskDescription"
        appTrim
        required
        minlength="1"
        [placeholder]="'enterTaskDescription' | translate"
        [(ngModel)]="taskDescription"
        #desc="ngModel"
      />

      <div
        *ngIf="desc.invalid && desc.dirty ? 'is-invalid' : ''"
        class="text-danger input-error"
      >
        {{ "pleaseEnterValidTaskDescription" | translate }}
      </div>
    </div>

    <div class="mt-3">
      <label for="taskUser" class="form-label"
        >{{ "assignedUser" | translate }}:</label
      >

      <select
        id="taskUser"
        name="taskUser"
        class="form-select"
        [(ngModel)]="taskUserId"
      >
        <option *ngFor="let user of userService.users" [value]="user.id">
          {{ user.name }}
        </option>
      </select>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-secondary"
    (click)="modalService.dismissAll()"
  >
    {{ "cancel" | translate }}
  </button>

  <button
    *ngIf="isEditingTask"
    type="button"
    class="btn btn-outline-primary"
    (click)="editTask(taskForm)"
  >
    {{ "edit" | translate }}
  </button>

  <button
    *ngIf="!isEditingTask"
    type="button"
    class="btn btn-outline-primary"
    (click)="createTask(taskForm)"
  >
    {{ "ok" | translate }}
  </button>
</div>
