<header class="header">
  <nav class="navbar">
    <div class="container justify-content-start align-items-center">
      <a routerLink="/" class="navbar-brand d-flex align-items-center">
        <fa-icon [icon]="faTableColumns"></fa-icon>
        <span class="logo-text ms-2 d-sm-inline-block d-none">PMA</span>
      </a>

      <div ngbDropdown class="lang-switch ms-sm-4 ms-2">
        <span id="dropdownBasic1" ngbDropdownToggle class="lang-select">
          {{ currentLang }}
        </span>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="lang-menu">
          <span ngbDropdownItem (click)="changeLang('en-US')">en</span>
          <span ngbDropdownItem (click)="changeLang('uz-UZ')">uz</span>
        </div>
      </div>

      <a
        *ngIf="userService.isAuthenticated"
        routerLink="/boards"
        routerLinkActive="active"
        class="nav-link ms-sm-5 ms-2"
        >{{ "boards" | translate }}</a
      >

      <ul class="navbar-nav ms-auto text-white align-items-center flex-row">
        <li class="nav-item me-3">
          <a
            *ngIf="!userService.isAuthenticated; else user"
            routerLink="/login"
            routerLinkActive="active"
            class="nav-link"
            >{{ "login" | translate }}</a
          >

          <ng-template #user>
            <a
              routerLink="/edit-profile"
              routerLinkActive="active"
              class="nav-link"
            >
              <span *ngIf="userService.user" class="name me-2">{{
                userService.user.name
              }}</span>
              <fa-icon [icon]="faUser"></fa-icon>
            </a>
          </ng-template>
        </li>
        |
        <li class="nav-item ms-3">
          <a
            *ngIf="!userService.isAuthenticated; else logoutButton"
            routerLink="/signup"
            routerLinkActive="active"
            class="nav-link"
            >{{ "signup" | translate }}</a
          >

          <ng-template #logoutButton
            ><fa-icon
              class="logout-icon"
              [icon]="faRightFromBracket"
              (click)="logout()"
            ></fa-icon>
          </ng-template>
        </li>
      </ul>
    </div>
  </nav>
</header>
