<header class="header">
  <nav class="navbar">
    <div class="container justify-content-start align-items-center">
      <a href="./" class="navbar-brand d-flex align-items-center">
        <fa-icon [icon]="faTableColumns"></fa-icon>
        <span class="logo-text ms-2 d-sm-inline-block d-none">PMA</span>
      </a>

      <div ngbDropdown class="lang-switch ms-sm-4 ms-2">
        <span id="dropdownBasic1" ngbDropdownToggle class="lang-select">
          en
        </span>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="lang-menu">
          <span ngbDropdownItem>en</span>
          <span ngbDropdownItem>uz</span>
        </div>
      </div>

      <a *ngIf="isAuthenticated" href="./" class="nav-link ms-sm-5 ms-2"
        >Boards</a
      >

      <ul class="navbar-nav ms-auto text-white align-items-center flex-row">
        <li class="nav-item me-2">
          <a *ngIf="!isAuthenticated; else user" href="./" class="nav-link"
            >Login</a
          >
          <ng-template #user>
            <a href="./" class="nav-link"
              ><fa-icon [icon]="faUser"></fa-icon
            ></a>
          </ng-template>
        </li>
        |
        <li class="nav-item ms-2">
          <a *ngIf="!isAuthenticated; else logout" href="./" class="nav-link"
            >Sign up</a
          >
          <ng-template #logout>
            <a href="./" class="nav-link"
              ><fa-icon [icon]="faRightFromBracket"></fa-icon
            ></a>
          </ng-template>
        </li>
      </ul>
    </div>
  </nav>
</header>
