<div class="welcome-page">
  <section class="about py-md-5 py-3">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-md-6 col-12 about-content">
          <h1 class="title">
            {{ "welcomeAboutTitle" | translate }}
          </h1>

          <h5 class="subtitle mt-4">
            {{ "welcomeAboutSubtitle" | translate }}
          </h5>

          <button class="btn tryItButton mt-3" (click)="openBoards()">
            {{ "tryIt" | translate }}
          </button>
        </div>

        <div class="col-md-6 col-12 about-image mt-md-0 mt-4">
          <img src="../../assets/team-board.webp" alt="team kanban board" />
        </div>
      </div>
    </div>
  </section>

  <section class="info py-md-5 py-3">
    <div class="container">
      <div class="title-wrapper d-flex justify-content-center">
        <h1 class="title text-uppercase text-center px-5 pb-2">
          {{ "welcomeInfoTitle" | translate }}
        </h1>
      </div>

      <p class="content text-center px-5 mt-4">
        {{ "welcomeInfoSubtitle" | translate }}
      </p>

      <div class="row d-flex align-items-center px-5 mt-5">
        <div class="col-md-6 col-12 info-image">
          <img src="../../assets/office-worker.jpg" alt="office worker" />
        </div>

        <div class="col-md-6 col-12 info-text pl-1 py-1 mt-md-0 mt-3">
          <h5>
            {{ "welcomeInfoText" | translate }}
          </h5>
        </div>
      </div>
    </div>
  </section>

  <section class="benefits py-md-5 py-3">
    <div class="container">
      <div class="title-wrapper d-flex justify-content-center">
        <h1 class="title text-uppercase px-5 pb-2">
          {{ "welcomeBenefitsTitle" | translate }}
        </h1>
      </div>

      <h4 class="subtitle text-center mt-3">
        {{ "welcomeBenefitsSubtitle" | translate }}:
      </h4>

      <div class="benefits-list d-flex flex-column mt-5">
        <div class="benefit w-50">
          {{ "welcomeBenefitOne" | translate }}
        </div>
        <div class="benefit w-50 right">
          {{ "welcomeBenefitTwo" | translate }}
        </div>
        <div class="benefit w-50">
          {{ "welcomeBenefitThree" | translate }}
        </div>
        <div class="benefit w-50 right">
          {{ "welcomeBenefitFour" | translate }}
        </div>
        <div class="benefit w-50">
          {{ "welcomeBenefitFive" | translate }}
        </div>
        <div class="benefit w-50 right">
          {{ "welcomeBenefitSix" | translate }}
        </div>
      </div>
    </div>
  </section>

  <section class="rss py-md-5 py-3">
    <div class="container">
      <div class="title-wrapper d-flex justify-content-center">
        <h1 class="title text-uppercase text-center px-5 pb-2">
          {{ "welcomeRSSTitle" | translate }}
        </h1>
      </div>

      <h5 class="subtitle text-center mt-3">
        {{ "welcomeRSSSubtitle" | translate }}
        <a href="https://rs.school/">The Rolling Scopes</a>
      </h5>

      <div class="button-wrapper text-center mt-3">
        <button class="btn rs-signup mx-auto">
          <a href="https://rs.school/angular/">{{ "signup" | translate }}</a>
        </button>
      </div>

      <div class="rs-info mt-5">
        <h2>{{ "welcomeRSSForTitle" | translate }}</h2>

        <h5 class="mt-3">
          {{ "welcomeRSSForSubtitle" | translate }}
        </h5>
      </div>

      <div class="rs-features mt-5">
        <div class="row">
          <div class="col-sm-6 col-12 feature d-flex">
            <fa-icon [icon]="faSackDollar" class="feature-icon"></fa-icon>

            <div class="content">
              <h3>{{ "welcomeRSSFeatureOneTitle" | translate }}</h3>
              <p>
                {{ "welcomeRSSFeatureOneSubtitle" | translate }}
              </p>
            </div>
          </div>

          <div class="col-sm-6 col-12 feature d-flex mt-sm-0 mt-3">
            <fa-icon [icon]="faClock" class="feature-icon"></fa-icon>

            <div class="content">
              <h3>{{ "welcomeRSSFeatureTwoTitle" | translate }}</h3>
              <p>
                {{ "welcomeRSSFeatureTwoSubtitle" | translate }}
              </p>
            </div>
          </div>

          <div class="col-sm-6 col-12 feature d-flex mt-sm-0 mt-3">
            <fa-icon [icon]="faUserGroup" class="feature-icon"></fa-icon>

            <div class="content">
              <h3>{{ "welcomeRSSFeatureThreeTitle" | translate }}</h3>
              <p>
                {{ "welcomeRSSFeatureThreeSubtitle" | translate }}
              </p>
            </div>
          </div>

          <div class="col-sm-6 col-12 feature d-flex mt-sm-0 mt-3">
            <fa-icon [icon]="faCertificate" class="feature-icon"></fa-icon>

            <div class="content">
              <h3>{{ "welcomeRSSFeatureFourTitle" | translate }}</h3>
              <p>
                {{ "welcomeRSSFeatureFourSubtitle" | translate }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="author py-md-5 py-3">
    <div class="container">
      <div class="title-wrapper d-flex justify-content-center">
        <h1 class="title text-uppercase px-5 pb-2">
          {{ "welcomeAuthorTitle" | translate }}
        </h1>
      </div>
    </div>

    <div class="author-info mt-4">
      <div class="container">
        <div class="row d-flex align-items-center">
          <div class="col-md-6 col-12 author-info__text">
            <div class="w-75 mx-auto text-center">
              <strong>Jakhongir Ismoilov.</strong>
              {{ "welcomeAuthorInfo" | translate }}
            </div>
          </div>

          <div class="col-md-6 col-12 author-info__image mt-md-0 mt-3">
            <img
              src="../../assets/guy-coding.gif"
              alt="guy coding"
              class="w-100"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
