<div class="auth">
  <div class="form-wrapper text-white">
    <h2 class="title text-center">{{ type | translate }}</h2>

    <form class="form mt-4" (ngSubmit)="onSubmit($event)" #heroForm="ngForm">
      <div *ngIf="type !== 'login'" class="name mb-3">
        <label for="name" class="form-label">{{ "name" | translate }}:</label>

        <input
          type="text"
          class="form-control"
          [ngClass]="nameError ? 'is-invalid' : ''"
          id="name"
          name="name"
          [placeholder]="'enterName' | translate"
          [(ngModel)]="form.name"
        />

        <div *ngIf="nameError" class="text-danger input-error">
          {{ "pleaseEnterValidName" | translate }}
        </div>
      </div>

      <div class="login">
        <label for="login" class="form-label"
          >{{ "loginName" | translate }}:</label
        >

        <input
          type="text"
          class="form-control"
          [ngClass]="loginError ? 'is-invalid' : ''"
          id="login"
          name="login"
          [placeholder]="'enterLogin' | translate"
          [(ngModel)]="form.login"
        />

        <div *ngIf="loginError" class="text-danger input-error">
          {{ "pleaseEnterValidLogin" | translate }}
        </div>
      </div>

      <div class="password mt-3">
        <label for="password" class="form-label"
          >{{ "password" | translate }}:</label
        >

        <input
          type="password"
          class="form-control"
          [ngClass]="passwordError ? 'is-invalid' : ''"
          id="password"
          name="password"
          [placeholder]="'enterPassword' | translate"
          [(ngModel)]="form.password"
        />

        <div *ngIf="passwordError" class="text-danger input-error">
          {{ "pleaseEnterValidPassword" | translate }}
        </div>
      </div>

      <div *ngIf="type === 'editProfile'" class="repeat-password mt-3">
        <label for="repeat-password" class="form-label"
          >{{ "repeatPassword" | translate }}:</label
        >

        <input
          type="password"
          class="form-control"
          [ngClass]="repeatPasswordError ? 'is-invalid' : ''"
          id="repeat-password"
          name="password"
          [placeholder]="'confirmPassword' | translate"
          [(ngModel)]="repeatPassword"
        />

        <div *ngIf="repeatPasswordError" class="text-danger input-error">
          {{ "passwordsMismatch" | translate }}
        </div>
      </div>

      <div
        *ngIf="type !== 'editProfile'"
        class="button-wrapper my-4 text-center"
      >
        <button type="submit" class="btn auth-btn" [disabled]="isLoading">
          {{ type | translate }}
        </button>
      </div>

      <div
        *ngIf="type === 'editProfile'"
        class="button-wrapper my-4 text-center"
      >
        <button
          type="button"
          class="btn btn-danger me-4"
          (click)="openDialog()"
        >
          {{ "delete" | translate }}
        </button>

        <button type="submit" class="btn btn-success">
          {{ "edit" | translate }}
        </button>
      </div>
    </form>

    <div *ngIf="type === 'login'" class="auth-switch text-center">
      <p class="mb-1">{{ "dontHaveAnAccount" | translate }}</p>

      <a routerLink="/signup" class="auth-switch__btn">{{
        "signup" | translate
      }}</a>
    </div>

    <div *ngIf="type === 'signup'" class="auth-switch text-center">
      <p class="mb-1">{{ "alreadyHaveAnAccount" | translate }}</p>

      <a routerLink="/login" class="auth-switch__btn">{{
        "login" | translate
      }}</a>
    </div>
  </div>
</div>
