<div class="signup-page">
  <div class="form-wrapper text-white">
    <h2 class="title text-center">{{ "signup" | translate }}</h2>

    <form class="form mt-4" (ngSubmit)="onSubmit($event)">
      <div class="name mb-3">
        <label for="name" class="form-label">{{ "name" | translate }}:</label>

        <input
          type="text"
          class="form-control"
          [ngClass]="nameError ? 'is-invalid' : ''"
          id="name"
          name="name"
          [placeholder]="'enterName' | translate"
          [(ngModel)]="form.name"
        />

        <div *ngIf="nameError" class="text-danger input-error">
          {{ "pleaseEnterValidName" | translate }}
        </div>
      </div>

      <div class="login">
        <label for="login" class="form-label"
          >{{ "loginName" | translate }}:</label
        >

        <input
          type="text"
          class="form-control"
          [ngClass]="loginError ? 'is-invalid' : ''"
          id="login"
          name="login"
          [placeholder]="'enterLogin' | translate"
          [(ngModel)]="form.login"
        />

        <div *ngIf="loginError" class="text-danger input-error">
          {{ "pleaseEnterValidLogin" | translate }}
        </div>
      </div>

      <div class="password mt-3">
        <label for="password" class="form-label"
          >{{ "password" | translate }}:</label
        >

        <input
          type="password"
          class="form-control"
          [ngClass]="passwordError ? 'is-invalid' : ''"
          id="password"
          name="password"
          [placeholder]="'enterPassword' | translate"
          [(ngModel)]="form.password"
        />

        <div *ngIf="passwordError" class="text-danger input-error">
          {{ "pleaseEnterValidPassword" | translate }}
        </div>
      </div>

      <div class="button-wrapper my-4 text-center">
        <button type="submit" class="btn auth-btn" [disabled]="isLoading">
          {{ "signup" | translate }}
        </button>
      </div>
    </form>

    <div class="auth-switch text-center">
      <p class="mb-1">{{ "alreadyHaveAnAccount" | translate }}</p>

      <a routerLink="/login" class="auth-switch__btn">{{
        "login" | translate
      }}</a>
    </div>
  </div>
</div>
