<div class="signup-page">
  <div class="form-wrapper text-white">
    <h2 class="title text-center">{{ "signup" | translate }}</h2>

    <form
      #signupForm="ngForm"
      class="form mt-4"
      (ngSubmit)="onSubmit(signupForm)"
    >
      <div class="name mb-3">
        <label for="name" class="form-label">{{ "name" | translate }}:</label>

        <input
          type="text"
          class="form-control"
          [ngClass]="
            name.invalid && (name.dirty || name.touched) ? 'is-invalid' : ''
          "
          id="name"
          name="name"
          appTrim
          required
          minlength="1"
          [placeholder]="'enterName' | translate"
          [(ngModel)]="form.name"
          #name="ngModel"
        />

        <div
          *ngIf="name.invalid && (name.dirty || name.touched)"
          class="text-danger input-error"
        >
          {{ "pleaseEnterValidName" | translate }}
        </div>
      </div>

      <div class="login">
        <label for="login" class="form-label"
          >{{ "loginName" | translate }}:</label
        >

        <input
          type="text"
          class="form-control"
          [ngClass]="
            login.invalid && (login.dirty || login.touched) ? 'is-invalid' : ''
          "
          id="login"
          name="login"
          appTrim
          required
          minlength="1"
          [placeholder]="'enterLogin' | translate"
          [(ngModel)]="form.login"
          #login="ngModel"
        />

        <div
          *ngIf="login.invalid && (login.dirty || login.touched)"
          class="text-danger input-error"
        >
          {{ "pleaseEnterValidLogin" | translate }}
        </div>
      </div>

      <div class="password mt-3">
        <label for="password" class="form-label"
          >{{ "password" | translate }}:</label
        >

        <input
          type="password"
          class="form-control"
          [ngClass]="
            password.invalid && (password.dirty || password.touched)
              ? 'is-invalid'
              : ''
          "
          id="password"
          name="password"
          appTrim
          required
          minlength="1"
          [placeholder]="'enterPassword' | translate"
          [(ngModel)]="form.password"
          #password="ngModel"
        />

        <div
          *ngIf="password.invalid && (password.dirty || password.touched)"
          class="text-danger input-error"
        >
          {{ "pleaseEnterValidPassword" | translate }}
        </div>
      </div>

      <div class="button-wrapper my-4 text-center">
        <button type="submit" class="btn auth-btn" [disabled]="isLoading">
          {{ "signup" | translate }}
        </button>
      </div>
    </form>

    <div class="auth-switch text-center">
      <p class="mb-1">{{ "alreadyHaveAnAccount" | translate }}</p>

      <a routerLink="/login" class="auth-switch__btn">{{
        "login" | translate
      }}</a>
    </div>
  </div>
</div>
