<div class="column pb-3">
  <div
    cdkDropList
    (cdkDropListDropped)="drop($event)"
    [cdkDropListData]="column.tasks"
    class="wrapper"
    [id]="id"
  >
    <div
      class="column-title d-flex justify-content-between align-items-center px-3 py-2"
    >
      <h3 *ngIf="!isEditingTitle">{{ title }}</h3>

      <div
        *ngIf="isEditingTitle"
        class="edit-title w-100 d-flex align-item-center"
      >
        <input
          type="text"
          class="form-control"
          [ngClass]="titleError ? 'is-invalid' : ''"
          placeholder="Enter column title"
          #titleInput
          [(ngModel)]="columnTitle"
        />
        <fa-icon
          [icon]="faCheck"
          class="ms-auto me-2 text-success"
          (click)="editColumn()"
        ></fa-icon>
        <fa-icon
          [icon]="faXmark"
          class="text-danger"
          (click)="cancelEditing()"
        ></fa-icon>
      </div>

      <div
        *ngIf="!isEditingTitle"
        ngbDropdown
        class="d-inline-block"
        placement="bottom-start"
      >
        <span class="d-inline-block column-menu__wrapper" ngbDropdownToggle>
          <fa-icon
            [icon]="faEllipsisVertical"
            class="column-menu-btn"
          ></fa-icon>
        </span>

        <div ngbDropdownMenu class="column-options">
          <button
            ngbDropdownItem
            class="d-flex align-items-center text-secondary"
            (click)="openEditTitleInput()"
          >
            <fa-icon [icon]="faPen"></fa-icon>
            <span class="text ms-2">Edit column</span>
          </button>

          <button
            ngbDropdownItem
            class="d-flex align-items-center text-secondary"
            (click)="openDialog()"
          >
            <fa-icon [icon]="faTrash"></fa-icon>
            <span class="text ms-2">Delete column</span>
          </button>
        </div>
      </div>
    </div>

    <div class="tasks-wrapper">
      <app-task
        *ngFor="let task of column.tasks"
        [task]="task"
        [columnId]="id"
        (edit)="openEditTaskForm(task); open(content)"
      ></app-task>
    </div>
  </div>

  <div class="px-2 mt-3">
    <button
      class="btn add-task__btn"
      (click)="open(content); taskUserId = userService.user.id"
    >
      + Add new task
    </button>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      {{ isEditingTask ? "Edit a task" : "Create a task" }}
    </h4>
  </div>

  <div class="modal-body">
    <div>
      <label for="taskTitle" class="form-label">Task title:</label>
      <input
        type="text"
        class="form-control"
        [ngClass]="taskTitleError ? 'is-invalid' : ''"
        id="taskTitle"
        placeholder="Enter task title"
        [(ngModel)]="taskTitle"
      />
      <div *ngIf="taskTitleError" class="text-danger input-error">
        Please enter valid task title
      </div>
    </div>

    <div class="mt-3">
      <label for="taskDescription" class="form-label">Task Description:</label>
      <input
        type="text"
        class="form-control"
        [ngClass]="taskDescriptionError ? 'is-invalid' : ''"
        id="taskDescription"
        placeholder="Enter task description"
        [(ngModel)]="taskDescription"
      />
      <div *ngIf="taskDescriptionError" class="text-danger input-error">
        Please enter valid task description
      </div>
    </div>

    <div class="mt-3">
      <label for="taskUser" class="form-label">Assigned user:</label>
      <select id="taskUser" class="form-select" [(ngModel)]="taskUserId">
        <option *ngFor="let user of userService.users" [value]="user.id">
          {{ user.name }}
        </option>
      </select>
    </div>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="modal.close()"
    >
      Cancel
    </button>
    <button
      *ngIf="isEditingTask"
      type="button"
      class="btn btn-outline-primary"
      (click)="editTask()"
    >
      Edit
    </button>
    <button
      *ngIf="!isEditingTask"
      type="button"
      class="btn btn-outline-primary"
      (click)="createTask()"
    >
      Ok
    </button>
  </div>
</ng-template>
