<div class="board">
  <div class="container py-4">
    <div class="title">
      {{ "boardTitle" | translate }}:
      <strong *ngIf="boardService.selectedBoard">{{
        boardService.selectedBoard.title
      }}</strong>
    </div>

    <div *ngIf="isLoading" class="spinner">
      <mat-spinner class="mx-auto" color="accent"></mat-spinner>
    </div>

    <div
      *ngIf="!isLoading"
      cdkDropList
      cdkDropListGroup
      cdkDropListOrientation="horizontal"
      [cdkDropListData]="
        boardService.selectedBoard ? boardService.selectedBoard.columns : []
      "
      (cdkDropListDropped)="drop($event)"
      class="columns d-flex align-items-start"
    >
      <app-board-column
        *ngFor="let column of boardService.selectedBoard?.columns"
        [title]="column.title"
        [id]="column.id"
        [order]="column.order"
        [cdkDragData]="column"
        cdkDrag
      ></app-board-column>

      <button class="btn add-column-btn" (click)="openModalWindow(content)">
        + {{ "addColumn" | translate }}
      </button>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      {{ "createColumn" | translate }}
    </h4>
  </div>

  <div class="modal-body">
    <form #createColumnForm="ngForm">
      <div>
        <label for="title" class="form-label"
          >{{ "columnTitle" | translate }}:</label
        >

        <input
          type="text"
          class="form-control"
          [ngClass]="
            columnTitle.invalid && (columnTitle.dirty || columnTitle.touched)
              ? 'is-invalid'
              : ''
          "
          id="title"
          name="title"
          required
          minlength="1"
          [placeholder]="'enterColumnTitle' | translate"
          [(ngModel)]="title"
          #columnTitle="ngModel"
        />

        <div
          *ngIf="
            columnTitle.invalid && (columnTitle.dirty || columnTitle.touched)
              ? 'is-invalid'
              : ''
          "
          class="text-danger input-error"
        >
          {{ "pleaseEnterValidColumnTitle" | translate }}
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="modal.dismiss()"
    >
      {{ "cancel" | translate }}
    </button>

    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="createColumn(createColumnForm)"
    >
      {{ "ok" | translate }}
    </button>
  </div>
</ng-template>
