<div class="board">
  <div class="container py-4">
    <div class="title">
      {{ "boardTitle" | translate }}:
      <strong *ngIf="boardService.selectedBoard">{{
        boardService.selectedBoard.title
      }}</strong>
    </div>

    <div *ngIf="isLoading" class="spinner">
      <mat-spinner class="mx-auto" color="accent"></mat-spinner>
    </div>

    <div
      *ngIf="!isLoading"
      cdkDropList
      cdkDropListGroup
      cdkDropListOrientation="horizontal"
      [cdkDropListData]="
        boardService.selectedBoard ? boardService.selectedBoard.columns : []
      "
      (cdkDropListDropped)="drop($event)"
      class="columns d-flex align-items-start"
    >
      <app-column
        *ngFor="let column of boardService.selectedBoard?.columns"
        [title]="column.title"
        [id]="column.id"
        [order]="column.order"
        [cdkDragData]="column"
        cdkDrag
      ></app-column>

      <button class="btn add-column-btn" (click)="openModalWindow(content)">
        + {{ "addColumn" | translate }}
      </button>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      {{ "createColumn" | translate }}
    </h4>
  </div>

  <div class="modal-body">
    <div>
      <label for="title" class="form-label"
        >{{ "columnTitle" | translate }}:</label
      >

      <input
        type="text"
        class="form-control"
        [ngClass]="titleError ? 'is-invalid' : ''"
        id="title"
        [placeholder]="'enterColumnTitle' | translate"
        [(ngModel)]="title"
      />

      <div *ngIf="titleError" class="text-danger input-error">
        {{ "pleaseEnterValidColumnTitle" | translate }}
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="modal.close()"
    >
      {{ "cancel" | translate }}
    </button>

    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="createColumn()"
    >
      {{ "ok" | translate }}
    </button>
  </div>
</ng-template>
