<div class="column pb-3">
  <div
    cdkDropList
    (cdkDropListDropped)="drop($event)"
    [cdkDropListData]="column.tasks"
    class="wrapper"
    [id]="id"
  >
    <div
      class="column-title d-flex justify-content-between align-items-center px-3 py-2"
    >
      <h3 *ngIf="!isEditingTitle">{{ title }}</h3>

      <div
        *ngIf="isEditingTitle"
        class="edit-title w-100 d-flex align-item-center"
      >
        <input
          type="text"
          class="form-control"
          [ngClass]="titleError ? 'is-invalid' : ''"
          [placeholder]="'enterColumnTitle' | translate"
          #titleInput
          [(ngModel)]="columnTitle"
        />
        <fa-icon
          [icon]="faCheck"
          class="ms-auto me-2 text-success"
          (click)="editColumn()"
        ></fa-icon>
        <fa-icon
          [icon]="faXmark"
          class="text-danger"
          (click)="cancelEditing()"
        ></fa-icon>
      </div>

      <div
        *ngIf="!isEditingTitle"
        ngbDropdown
        class="d-inline-block"
        placement="bottom-start"
      >
        <span class="d-inline-block column-menu__wrapper" ngbDropdownToggle>
          <fa-icon
            [icon]="faEllipsisVertical"
            class="column-menu-btn"
          ></fa-icon>
        </span>

        <div ngbDropdownMenu class="column-options">
          <button
            ngbDropdownItem
            class="d-flex align-items-center text-secondary"
            (click)="openEditTitleInput()"
          >
            <fa-icon [icon]="faPen"></fa-icon>
            <span class="text ms-2">{{ "editColumn" | translate }}</span>
          </button>

          <button
            ngbDropdownItem
            class="d-flex align-items-center text-secondary"
            (click)="openDialog()"
          >
            <fa-icon [icon]="faTrash"></fa-icon>
            <span class="text ms-2">{{ "deleteColumn" | translate }}</span>
          </button>
        </div>
      </div>
    </div>

    <div class="tasks-wrapper">
      <app-task
        *ngFor="let task of column.tasks"
        [task]="task"
        [columnId]="id"
        (edit)="openEditTaskForm(task); openModalWindow(content)"
      ></app-task>
    </div>
  </div>

  <div class="px-2 mt-3">
    <button
      class="btn add-task__btn"
      (click)="
        openModalWindow(content); taskUserId = userService.user?.id || ''
      "
    >
      + {{ "addNewTask" | translate }}
    </button>
  </div>
</div>

<ng-template #content>
  <app-task-modal
    [id]="id"
    [editedTask]="editedTask"
    [isEditingTask]="isEditingTask"
    [taskTitle]="taskTitle"
    [taskDescription]="taskDescription"
    [taskUserId]="taskUserId"
  ></app-task-modal>
</ng-template>
