<div class="edit-profile">
  <div class="form-wrapper text-white">
    <h2 class="title text-center">Edit profile</h2>

    <form class="form mt-4" (ngSubmit)="onSubmit($event)" #heroForm="ngForm">
      <div class="name mb-3">
        <label for="name" class="form-label">Name:</label>
        <input
          type="text"
          class="form-control"
          [ngClass]="nameError ? 'is-invalid' : ''"
          id="name"
          name="name"
          placeholder="Enter name"
          [(ngModel)]="form.name"
        />
        <div *ngIf="nameError" class="text-danger input-error">
          Please enter valid name
        </div>
      </div>

      <div class="login">
        <label for="login" class="form-label">Login:</label>
        <input
          type="text"
          class="form-control"
          [ngClass]="loginError ? 'is-invalid' : ''"
          id="login"
          name="login"
          placeholder="Enter login"
          [(ngModel)]="form.login"
        />
        <div *ngIf="loginError" class="text-danger input-error">
          Please enter valid login
        </div>
      </div>

      <div class="password mt-3">
        <label for="password" class="form-label">Password:</label>
        <input
          type="password"
          class="form-control"
          [ngClass]="passwordError ? 'is-invalid' : ''"
          id="password"
          name="password"
          placeholder="Enter password"
          [(ngModel)]="form.password"
        />
        <div *ngIf="passwordError" class="text-danger input-error">
          Please enter valid password
        </div>
      </div>

      <div class="repeat-password mt-3">
        <label for="repeat-password" class="form-label">Repeat password:</label>
        <input
          type="password"
          class="form-control"
          [ngClass]="repeatPasswordError ? 'is-invalid' : ''"
          id="repeat-password"
          name="password"
          placeholder="Confirm password"
          [(ngModel)]="repeatPassword"
        />
        <div *ngIf="repeatPasswordError" class="text-danger input-error">
          Passwords do not match
        </div>
      </div>

      <div class="button-wrapper my-4 text-center">
        <button type="button" class="btn btn-danger me-4" (click)="delete()">
          Delete
        </button>
        <button type="submit" class="btn btn-success">Edit</button>
      </div>
    </form>
  </div>
</div>
