.edit-profile {
  min-height: 100vh;
  background-color: #252934;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;
  padding-bottom: 50px;
}

.form-wrapper {
  width: 450px;
  background-color: #1e242c;
  padding: 24px 32px;
  border-radius: 12px;
}
